<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <h1>Formulário</h1>
            <hr>
        </div>
        <div class="item">
            <label for="phone">Máscara phone</label>
            <input formControlName="phone" id="phone" type="text" (keyup)="printPhone()" placeholder="Telefone/Celular" appPhoneMask>
            <span *ngIf="phone.touched && phone.errors">Telefone Inválido</span>
        </div>
        
        <div class="item">
            <label for="email">E-mail pattern</label>
            <input formControlName="email" id="email" type="text" placeholder="E-mail" pattern="[a-z0-9.]+@[a-z0-9.-]+\.[a-z]+" title="E-mail">
            <span *ngIf="email.touched && email.errors">E-mail Inválido</span>
        </div>

        <button type="submit">Enviar</button>
    </form>
</div>
