$color-accent: #b3b3b3;
$color-highlight: #2f2f2f;

:host {
    display: flex;
    flex: 1;
    background-color: #151515;
}

.container {
    display: grid;
    flex: 1;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50%;

    @media(max-width: 720px) {
        grid-template-columns: 90%;
    }
}

.item {
    display: flex;
    flex-direction: column;

    span {
        font-family: sans-serif;
        color: tomato;
        margin-top: 5px;
        font-size: 12px;
    }
}

form {
    display: grid;
    grid-gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background-color: #2f2f2f;
    box-shadow: 10px 10px 21px 3px rgba(0, 0, 0, 0.75);

    label {
        color: $color-accent;
        font-family: sans-serif;
    }

    input {
        padding: 8px;
        font-size: 14px;
        background-color: $color-accent;
        border: solid 1px $color-accent;
        color: $color-highlight;
        border-radius: 8px;
    }

    input::placeholder {
        color: $color-highlight
    }

    div {
        h1 {
            font-family: sans-serif;
            margin: 0;
            color: $color-accent;
        }
    
        hr {
            width: 100%;
            border-top: 1px solid #b3b3b3;
        }
    }

    button {
        padding: 8px;
        font-family: sans-serif;
        font-size: 16px;
        background-color: #151515;
        color: $color-accent;
        border: none;
        border-radius: 8px;
    }
}