<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <h2>Formulário</h2>
            <h5>Complete os campos abaixo para experimentar cada funcionalidade</h5>
        </div>
        <div class="item">
            <label for="phone">Máscara phone</label>
            <input autocomplete="off" formControlName="phone" id="phone" type="text" (keyup)="printPhone()" placeholder="Telefone/Celular" appPhoneMask>
            <span *ngIf="phone.touched && phone.errors && phone.errors.minlength">Telefone Inválido</span>
            <span *ngIf="phone.touched && phone.errors && phone.errors.required">Telefone é obrigatório</span>
        </div>
        
        <div class="item">
            <label for="email">E-mail pattern</label>
            <input autocomplete="off" formControlName="email" id="email" type="text" placeholder="E-mail" pattern="[a-z0-9.]+@[a-z0-9.-]+\.[a-z]+" title="E-mail">
            <span *ngIf="email.touched && email.errors && email.errors.pattern">E-mail Inválido</span>
            <span *ngIf="email.touched && email.errors && email.errors.required">E-mail é obrigatório</span>
        </div>

        <div class="item row">
            <app-radio formControlName="radio" [items]="radioItems" [name]="'1'"></app-radio>
        </div>

        <div class="item row">
            <app-radio formControlName="radio2" [items]="radioItems" [name]="'2'"></app-radio>
        </div>

        <div class="item row">
            <app-checkbox formControlName="checkbox"></app-checkbox>
            <app-checkbox formControlName="checkbox2"></app-checkbox>
        </div>

        <div class="submit">
            <button type="submit" [disabled]="form.invalid">Enviar</button>
            <div [ngClass]="(form.invalid) ? 'triangle-disabled' : 'triangle'"></div>
        </div>
    </form>
</div>
