$color-text: #fff;
$color-accent: #313131;
$color-highlight: #2f2f2f;
$color-light: #797979;
$color-disabled: #292929;
$color-text-disabled: #3e3e3e;

:host {
    display: flex;
    flex: 1;
    background-color: #151515;
}

.container {
    display: grid;
    flex: 1;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40%;

    @media(max-width: 720px) {
        grid-template-columns: 90%;
    }
}

.item {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;

    span {
        font-family: sans-serif;
        color: tomato;
        margin-top: 5px;
        font-size: 12px;
    }
}

form {
    display: grid;
    grid-gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background-color: #1d1d1d;
    box-shadow: 10px 10px 21px 3px rgba(0, 0, 0, 0.75);
    padding: 24px 16px;
    margin: 0;

    label {
        color: $color-text;
        font-family: sans-serif;
    }

    input {
        padding: 8px;
        font-size: 14px;
        background-color: $color-accent;
        border: solid 1px $color-accent;
        color: $color-text;
        outline: none;

        &:focus {
            background-color: $color-light;
        }
    }

    input::placeholder {
        color: $color-text
    }

    div {
        h2 {
            font-family: sans-serif;
            margin: 0;
            color: $color-text;
            text-align: center;
        }

        h5 {
            margin-top: 5px;
            margin-bottom: 5px;
            font-family: sans-serif;
            color: $color-light;
            text-align: center;
        }
    }

    .submit {
        display: flex;
        flex: 1;
        
        .triangle {
            width: 0; 
            height: 0; 
            border-left: 16px solid #080808;
            border-right: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-top: 16px solid transparent;
        }
        
        .triangle-disabled {
            @extend .triangle;
            border-left: 16px solid $color-disabled;
        
        }
        
        button {
            padding: 8px;
            font-family: sans-serif;
            font-size: 16px;
            background-color: #080808;
            color: $color-text;
            border: none;
            flex: 1;
            margin-left: 16px;
    
            &:disabled {
                background-color: $color-disabled;
                color: $color-text-disabled;
            }
        }
    
        button:disabled > .triangle {
            border-left: 16px solid red;
        }
    }

}