.checkbox {
    display: flex;
    margin-bottom: 6px;
    margin-right: 6px;
}

.checkbox input {
    position: absolute;
    z-index: -9999;
}

.checkbox span {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url('../../../../assets/img/unchecked.png');
    background-size: auto 100%;
    margin-top: 0;
    margin-right: 5px;
}

.checkbox input:checked + span {
    background-image: url('../../../../assets/img/checked.png');
}

.checkbox label {
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}